{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-runtime"
  ]
}
