{
	"extends": "stylelint-config-standard",
	"rules": {
		"color-hex-case": "lower"
	},
	"ignoreFiles": {
		"except": ["quick_demo_css.mjml"]
	},
	"reportDescriptionlessDisables": true,
	"reportInvalidScopeDisables": true,
	"reportNeedlessDisables": true,
	"unit-allowed-list": ["px", "%"]
}
